*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000000;
    --header-black: #00000074;
    --bg-black: #141922;
    --plyer-grey: #282828;
    --grey: #A3A3A3;
    --lightgreen: #ADFF2F;
    --white: #FFFFFF;
}

.d_flex{
    display: flex;
}

.direction_column{
    flex-direction: column;
}

body{
    font-family: 'Poppins', sans-serif;
}






/* debug */

.debug .top{
    background-color: var(--bg-black);
}

.debug footer{
    background-color: var(--plyer-grey);
}

.debug .sidebar_top{
    height: calc(100% - 60px)
}




/* upgrade */

.upgrade{
    height: 50px;
    width: calc(100% - 50px);
    background-color: var(--header-black);
    position: fixed;
    left: 50px;
    padding: 0.5rem;
    justify-content: flex-end;
}

.secondary_btn{
    color: white;
    border: 1px solid var(--white);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    background-color: var(--header-black);
    font-size: 10px;
}


/* top */

/* sidebar */
.top{
    height: calc(100vh - 70px);
    display: flex;
}

.sidebar{
    width: 50px;
    background-color: var(--black);
    padding: 0.2rem 0.5rem;
}

.top .content{
    width: calc(100% - 50px);
    overflow-y: auto;
    color: white;
}

.sidebar_top{
    height: calc(100% - 80px)
}

.logo_big{
    display: none;
}

.sidebar_bottom{
    height: 80px;
}


.sidebar_top .spotify, .home{
    color: var(--white);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
}


.sidebar_top .search, .library{
    color: var(--grey);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.library img{
    width: 16px;
}

/* playlist */

.playlist h4{
    margin-top: 1rem;
    font-size: 14px;
    color: var(--white);
    font-weight: 500;
}

.plus{
    width: 30px;
    height: 30px;
    background-color: var(--grey);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.create_playlist{
    align-items: center;
}

.create_playlist .label{
    color: var(--grey);
}

.playlist li{
    color: var(--grey);
    margin: 1rem 0;
    font-size: 12px;
    list-style: none;
}

.playlist{
    display: none;
}


/* sidebar_bottom */

.download{
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.user{
    background-color: var(--grey);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 35px;
    padding: 0.4rem;
    margin-top: 0.5rem;
}

.label{
    display: none;
}


/* content */

.content{
    display: flex;
    flex-wrap: wrap;
}

/* footer */

footer {
    height: 70px;
}


/* mediaquery */


@media screen and (min-width: 768px) {
    
    .top .sidebar{
        width: 220px;
    }

    .top .content{
        width: calc(100% - 220px);
    }
        

    .upgrade{
        width: calc(100% - 220px);
        left: 220px;
    }

    .sidebar{
        padding: 0.5rem 1rem;
    }

    .sidebar_top .spotify, .home, .sidebar_top .search, .library{
        align-items: center;
        justify-content: start;
    }

    .download{
        align-items: center;
        justify-content: start;
    }
    
    .user{
        align-items: center;
        justify-content: start;
    }

    .label{
        display: flex;
        font-size: 10px;
        margin-left: 1rem;
    }

    .fa-spotify{
        display: none;
    }

    .logo_big{
        display: flex;
        margin-top: 0.5rem;
        width: 50%;
    }

    .playlist{
        display: block;
        overflow-y: auto;
    }
}
